body, html {
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;    
}

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5 {
    position: relative;
    height: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.caixa1 {
    background-image: url(/imagens/college-g27999e33f_1920.jpg);
}

.caixa2 {
    background-image: url(/imagens/library-g6bd2cb4d0_1920.jpg);
}

.caixa3 {
    background-image: url(/imagens/classroom-ga66457c08_1920.jpg);

}

.caixa4 {
    background-image: url(/imagens/bag-gb54df3ff3_1920.jpg);
}

.caixa5 {
    background-image: url(/imagens/people-gdddd5634f_1920.jpg);
}

.conteudo {
    color: #777;
    background-color: #fff;
    text-align: justify;
    padding: 50px 80px;
    text-align: center;
}

.conteudo-titulo {
    position: absolute;
    left: 0%;
    top: 45%;
    color: #fff;
    width: 100%;
    text-align: center;
}

.conteudo-titulo span.titulo {
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    color: #fff;
}

.p {
    margin-bottom: 20px;
}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}